In [193]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score

In [219]:
train = pd.read_csv('./_data/train.csv', index_col=0)#id를 인덱스로
test = pd.read_csv('./_data/test.csv', index_col=0)

In [195]:
from pycaret.classification import *

* null이 포함되어있는 feature를 nan으로

In [171]:
# thal = 0 = Null 
train[train['thal']==0]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
id,,,,,,,,,,,,,,
130,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1

In [172]:
test[test['thal']==0]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
id,,,,,,,,,,,,,
47,52,1,0,128,204,1,1,156,1,1.0,1,0,0

In [157]:
train.loc[train['thal']==0,'thal'] = np.nan
test.loc[test['thal']==0,'thal'] = np.nan
train.loc[train.thal==1, 'thal'] =np.nan
test.loc[test.thal==1, 'thal'] =np.nan

In [173]:
# ca = 4 = Null
train[train['ca']==4]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [174]:
test[test['ca']==4]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
id,,,,,,,,,,,,,
41,52,1,2,138,223,0,1,169,0,0.0,2,4,2
46,43,1,0,132,247,1,0,143,1,0.1,1,4,3
80,58,1,1,125,220,0,1,144,0,0.4,1,4,3
81,38,1,2,138,175,0,1,173,0,0.0,2,4,2
96,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [220]:
ca_y = test[test['ca']==4]

In [221]:
train_ca = train

y_train_ca = train_ca.pop('ca')
train_ca.pop('target')
x_train_ca = train_ca
x_train_ca

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal
id,,,,,,,,,,,,
1,53,1,2,130,197,1,0,152,0,1.2,0,2
2,52,1,3,152,298,1,1,178,0,1.2,1,3
3,54,1,1,192,283,0,0,195,0,0.0,2,3
4,45,0,0,138,236,0,0,152,1,0.2,1,2
5,35,1,1,122,192,0,1,174,0,0.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
147,50,1,2,140,233,0,1,163,0,0.6,1,3
148,51,1,2,94,227,0,1,154,1,0.0,2,3
149,69,1,3,160,234,1,0,131,0,0.1,1,2
150,46,1,0,120,249,0,0,144,0,0.8,2,3
151,63,0,1,140,195,0,1,179,0,0.0,2,2

In [222]:
ca_y

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
id,,,,,,,,,,,,,
41,52,1,2,138,223,0,1,169,0,0.0,2,4,2
46,43,1,0,132,247,1,0,143,1,0.1,1,4,3
80,58,1,1,125,220,0,1,144,0,0.4,1,4,3
81,38,1,2,138,175,0,1,173,0,0.0,2,4,2
96,38,1,2,138,175,0,1,173,0,0.0,2,4,2

In [236]:
y_test_ca = test
y_test_ca = y_test_ca.drop([41,46,80,81,96])

In [237]:
y_train_ca_all = pd.concat([y_train_ca, y_test_ca.pop('ca')])
y_train_ca_all

id
1      0
2      0
3      1
4      0
5      0
      ..
148    2
149    0
150    2
151    1
152    0
Name: ca, Length: 298, dtype: int64

In [238]:
x_train_ca_all = pd.concat([x_train_ca, y_test_ca])
x_train_ca_all

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal
id,,,,,,,,,,,,
1,53,1,2,130,197,1,0,152,0,1.2,0,2
2,52,1,3,152,298,1,1,178,0,1.2,1,3
3,54,1,1,192,283,0,0,195,0,0.0,2,3
4,45,0,0,138,236,0,0,152,1,0.2,1,2
5,35,1,1,122,192,0,1,174,0,0.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
148,64,0,0,130,303,0,1,122,0,2.0,1,2
149,43,0,0,132,341,1,0,136,1,3.0,1,3
150,53,1,0,123,282,0,1,95,1,2.0,1,3
151,67,0,2,152,277,0,1,172,0,0.0,2,2
152,43,0,2,122,213,0,1,165,0,0.2,1,2

In [ ]:
x_train_ca = pd.concat([x_train_ca, x_test_ca])

In [ ]:
thal_y1 =  train[train['thal']==0]
thal_y2 =  test[test['thal']==0]

train.loc[train['thal']==0,'thal'] = np.nan
test.loc[test['thal']==0,'thal'] = np.nan

tr_train_thal = train.dropna()
tr_y_train_thal = tr_train_thal.pop('thal')
tr_x_train_thal = tr_train_thal
tr_x_train_thal
# train.loc[train.thal==1, 'thal'] =np.nan
# test.loc[test.thal==1, 'thal'] =np.nan

In [134]:
categorical_features =['sex', 'cp', 'exang', 'slope', 'ca', 'thal', 'restecg']

In [135]:
for i in categorical_features:
    print(train[i].value_counts())

1    103
0     48
Name: sex, dtype: int64
0    65
2    47
1    25
3    14
Name: cp, dtype: int64
0    102
1     49
Name: exang, dtype: int64
2    70
1    68
0    13
Name: slope, dtype: int64
0    95
1    31
2    15
3    10
Name: ca, dtype: int64
2.0    84
3.0    58
Name: thal, dtype: int64
1    75
0    75
2     1
Name: restecg, dtype: int64

In [136]:
for i in categorical_features:
    print(test[i].value_counts())

1    104
0     48
Name: sex, dtype: int64
0    78
2    40
1    25
3     9
Name: cp, dtype: int64
0    102
1     50
Name: exang, dtype: int64
2    72
1    72
0     8
Name: slope, dtype: int64
0.0    80
1.0    34
2.0    23
3.0    10
Name: ca, dtype: int64
2.0    82
3.0    59
Name: thal, dtype: int64
1    77
0    72
2     3
Name: restecg, dtype: int64

In [137]:
for i in categorical_features:
    print(f'train[{i}] : {train[i].isna().sum()}')
    print(f'test[{i}] : {test[i].isna().sum()}')

train[sex] : 0
test[sex] : 0
train[cp] : 0
test[cp] : 0
train[exang] : 0
test[exang] : 0
train[slope] : 0
test[slope] : 0
train[ca] : 0
test[ca] : 5
train[thal] : 9
test[thal] : 11
train[restecg] : 0
test[restecg] : 0

In [ ]:
train

In [159]:
x_train = train.dropna()

# 모델 만들기

#### 사용할 데이터
* categorical_features : sex, cp, (exang), slope, ca, thal, restecg
* numeric_features : age, (trestbps), (thalach), (fbs), (oldpeak), (chol)

In [197]:
SEED = 32

In [241]:
ignore_features = []
categorical_features = ['sex', 'cp', 'slope','exang', 'restecg', 'thal']
numeric_features = ['age', 'trestbps', 'thalach', 'fbs','oldpeak', 'chol']

In [119]:
# ignore_features = ['fbs','oldpeak', 'chol']
# categorical_features = ['sex', 'cp', 'slope', 'ca', 'thal','exang','restecg']
# numeric_features = ['age','trestbps', 'thalach']

In [239]:
ca_train = pd.concat([x_train_ca_all,y_train_ca_all], axis=1)
ca_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,thal,ca
id,,,,,,,,,,,,,
1,53,1,2,130,197,1,0,152,0,1.2,0,2,0
2,52,1,3,152,298,1,1,178,0,1.2,1,3,0
3,54,1,1,192,283,0,0,195,0,0.0,2,3,1
4,45,0,0,138,236,0,0,152,1,0.2,1,2,0
5,35,1,1,122,192,0,1,174,0,0.0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,64,0,0,130,303,0,1,122,0,2.0,1,2,2
149,43,0,0,132,341,1,0,136,1,3.0,1,3,0
150,53,1,0,123,282,0,1,95,1,2.0,1,3,2
151,67,0,2,152,277,0,1,172,0,0.0,2,2,1
152,43,0,2,122,213,0,1,165,0,0.2,1,2,0

In [244]:
clf = setup(data=ca_train, 
            target='ca', 
            ignore_features=ignore_features,           
            categorical_features=categorical_features, 
            numeric_features=numeric_features,
            remove_outliers=True,
            #outliers_threshold=0.1,
            normalize=True,        
            normalize_method='zscore',    #minmax, zscore, maxabs, robust
            feature_selection=True,
            imputation_type='iterative',
          #  categorical_imputation='mode',
            iterative_imputation_iters=10,            
            categorical_iterative_imputer='lightgbm',
            trigonometry_features=True,
            session_id=SEED, 
            silent=True
            #profile=True
            )

In [245]:
best_models = compare_models(sort='Accuracy', n_select=3, fold=5)

In [214]:
tuned_top3 = [tune_model(i) for i in best_models]
blender = blend_models(tuned_top3)
stacker = stack_models(tuned_top3)
best_auc_model = automl(optimize = 'Accuracy')
finalized_model = finalize_model(best_auc_model)

In [246]:
predictions = predict_model(data=ca_y, estimator=finalized_model)
predictions

ValueError: Number of features of the model must match the input. Model n_features is 21 and input n_features is 15

In [ ]:
submission['target'] = predictions['Label']
submission

In [ ]:
submission.to_csv('./submission9.csv')

In [ ]:
clf = setup(data=train, 
            target='target', 
            ignore_features=ignore_features,           
            categorical_features=categorical_features, 
            numeric_features=numeric_features,
            remove_outliers=True,
            #outliers_threshold=0.1,
            normalize=True,        
            normalize_method='zscore',    #minmax, zscore, maxabs, robust
            feature_selection=True,
            #feature_selection_threshold=0.9,
            imputation_type='iterative',
            categorical_imputation='mode',
            iterative_imputation_iters=10,            
            categorical_iterative_imputer='xgboost',
            trigonometry_features=True,
            session_id=SEED, 
            silent=True
            #profile=True
            )