In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
import numpy as np
from numpy import nan
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('dark')

import warnings
warnings.filterwarnings('ignore')

import torch
from torch import nn
from torchvision import models
from torch.utils.data import Dataset
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm

import platform
import sys
import os
import sklearn 
import cv2
import json
from glob import glob

print(f"- os: {platform.platform()}")
print(f"- python: {sys.version}")
print(f"- pandas: {pd.__version__}")
print(f"- numpy: {np.__version__}")
print(f"- sklearn: {sklearn.__version__}")
print(f"- pytorch: {torch.__version__}")
print(f"- opencv: {cv2.__version__}")

- os: Windows-10-10.0.19041-SP0
- python: 3.7.11 (default, Jul 27 2021, 09:42:29) [MSC v.1916 64 bit (AMD64)]
- pandas: 1.3.0
- numpy: 1.19.1
- sklearn: 0.23.2
- pytorch: 1.7.0
- opencv: 4.5.5

In [2]:
from pycaret.classification import *

# csv분석

In [5]:
TRAIN_PATH = 'C:/git/jonie_github/VISION/_data/train/'
TEST_PATH = 'C:/git/jonie_github/VISION/_data/test/'
DATASET_NAME = 'CROP_DISEASE_5folds'
BATCH_SIZE = 128
EPOCHS = 150
USE_FOLD = True
SEED = 42
NUM_FOLD = 2

FLIP_IMG = True
BLUR_IMG = True
USE_AIHUB_DATA = False

# image resize
IMG_SIZE = 128

In [6]:
train_csv = sorted(glob(TRAIN_PATH +'*/*.csv'))
train_json = sorted(glob(TRAIN_PATH +'*/*.json'))

test_csv = sorted(glob(TEST_PATH +'*/*.csv'))
test_json = sorted(glob(TEST_PATH +'*/*.json'))

In [7]:
def json_data_load(train_json):
    crops = []
    areas = []
    diseases = []
    risks = []
    labels = []
    img_names = []
    parts=[]
    objects = []
    img_w = []
    img_h = []
    grows = []
    img_dirs = []
    for i in range(len(train_json)):
        with open(train_json[i], 'r') as f:
            sample = json.load(f)
            
            crop = sample['annotations']['crop']
            area = sample['annotations']['area']
            disease = sample['annotations']['disease']
            grow = sample['annotations']['grow']
            risk = sample['annotations']['risk']
            label=f"{crop}_{disease}_{risk}"        
            img_name = sample['description']['image'].replace('.jpg','')
            img_dir = train_json[i].replace('.json', '.jpg')
            width = sample['description']['width']
            height = sample['description']['height']

            crops.append(crop)
            areas.append(area)
            diseases.append(disease)
            risks.append(risk)
            labels.append(label)
            img_names.append(img_name)
            img_w.append(width)
            img_h.append(height)
            img_dirs.append(img_dir)
            grows.append(grow)
            r = sample['annotations']['bbox'][0]
            temp = [int(r['x']), int(r['y']), int(r['w']), int(r['h'])]
            objects.append(temp)    
            
            p = []
            
            for part in sample['annotations']['part']:
                p.append([int(part['x']), int(part['y']), int(part['w']), int(part['h'])])
            parts.append(p)

    df = pd.DataFrame({'image':img_names, 'img_w':img_w, 'img_h':img_h, 'crops':crops,'areas':areas,'diseases':diseases,'risks':risks, 
                       'grows':grows, 'bbox':objects, 'parts':parts, 'labels':labels, 'dir':img_dirs})
    df['crop_area'] = df.crops.astype(str) + '_' + df.areas.astype(str)
    df['disease_risk'] = df.diseases.astype(str) + '_' + df.risks.astype(str)

    df['x'] = df.bbox.apply(lambda x: x[0])
    df['y'] = df.bbox.apply(lambda x: x[1])
    df['w'] = df.bbox.apply(lambda x: x[2])
    df['h'] = df.bbox.apply(lambda x: x[3])
    df['xc'] = df.x + df.w.apply(lambda x:x//2)
    df['yc'] = df.y + df.h.apply(lambda x:x//2)
    
    df.dir = df.dir.apply(lambda x: x.replace('\\','/'))
    df = df[['image','crops','areas','diseases','risks','grows','xc','yc','w','h', 'img_w', 'img_h', 'parts', 'dir']]

    return df

In [10]:
from datetime import datetime, timedelta
def get_df_csv(csv_dir):

    df_csv = pd.DataFrame(columns={'image','month','temp_cond_1','temp_cond_2','temp_cond_3','temp_cond_4',
                        'humidity_70','humidity_80','humidity_90','humidity_95',
                         'RH_70','RH_95','RH_100'})

    for i, csv in enumerate(tqdm(csv_dir)):
        data = pd.read_csv(f'{csv}')
        data = data[['측정시각', '내부 온도 1 평균', '내부 온도 1 최고', '내부 온도 1 최저','내부 습도 1 평균', '내부 습도 1 최고',
           '내부 습도 1 최저','내부 이슬점 평균', '내부 이슬점 최고', '내부 이슬점 최저']]
        data = data.drop_duplicates(subset=['측정시각'])
        # data = data.sort_values(by='측정시각')
        data['측정시각'] = data['측정시각'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
        data = data.replace('0', np.nan).dropna()
        data = data.replace('-', np.nan).dropna()
        

        img_name = csv_dir[i].split('\\')[-1].replace('.csv','')
        month = data.측정시각.dt.month.mean()
        lenth = len(data)
        temp_cond_1 = len(data[(data['내부 온도 1 평균']>=20)&(data['내부 온도 1 평균']<=25)])/lenth
        temp_cond_2 = len(data[(data['내부 온도 1 최저']<=13)])/lenth
        temp_cond_3 = len(data[(data['내부 온도 1 최고']>=32) & (data['내부 온도 1 최고']<35)])/lenth
        temp_cond_4 = len(data[(data['내부 온도 1 최고']>=35)])/lenth

        humidity_70 = len(data[(data['내부 습도 1 평균']>=70)& (data['내부 습도 1 평균']<80)])/lenth
        humidity_80 = len(data[(data['내부 습도 1 평균']>=80)& (data['내부 습도 1 평균']<90)])/lenth
        humidity_90 = len(data[(data['내부 습도 1 평균']>=90)& (data['내부 습도 1 평균']<95)])/lenth
        humidity_95 = len(data[(data['내부 습도 1 평균']>=95)])/lenth

        TD = data['내부 이슬점 평균'].astype(float)
        T = data['내부 온도 1 평균'].astype(float)
        RH = 100*(np.exp((17.625*TD)/(243.04+TD))/np.exp((17.625*T)/(243.04+T)))

        RH_70 = len(RH[(RH>=70)& (RH<95)])/lenth
        RH_95 = len(RH[(RH>=95)& (RH<100)])/lenth
        RH_100 = len(RH[(RH>=100)])/lenth

        csv_series = pd.Series({'image':img_name, 'month':month,'temp_cond_1':temp_cond_1,'temp_cond_2':temp_cond_2,'temp_cond_3':temp_cond_3,'temp_cond_4':temp_cond_4,
                            'humidity_70':humidity_70,'humidity_80':humidity_80,'humidity_90':humidity_90,'humidity_95':humidity_95,
                             'RH_70':RH_70,'RH_95':RH_95,'RH_100':RH_100})
        df_csv.loc[i] = csv_series
    return df_csv

In [ ]:
csv_train = get_df_csv(train_csv)
csv_test = get_df_csv(test_csv)

print(len(csv_train))
print(len(csv_test))
csv_train

100%|██████████████████████████████████████████████████████████████████████████████| 5767/5767 [03:05<00:00, 31.12it/s]
 68%|███████████████████████████████████████████████████▊                        | 35401/51906 [18:57<08:42, 31.60it/s]

In [ ]:
df_train = json_data_load(train_json)

In [ ]:
df_train['label'] = df_train.crops.astype(str) +'_'+ df_train.diseases +'_'+ df_train.risks.astype(str)
train1 = pd.merge(df_train[['image','label']], csv_train, on='image', how='outer')
train2= pd.merge(df_train[['image','crops','label']], csv_train, on='image', how='outer')
train3= pd.merge(df_train[['image','crops','areas','grows','label']], csv_train, on='image', how='outer')

train1 = train1[['image','month','temp_cond_1','temp_cond_2','temp_cond_3','temp_cond_4',
                    'humidity_70','humidity_80','humidity_90','humidity_95',
                     'RH_70','RH_95','RH_100','label']]
train2 = train2[['image','crops','month','temp_cond_1','temp_cond_2','temp_cond_3','temp_cond_4',
                    'humidity_70','humidity_80','humidity_90','humidity_95',
                     'RH_70','RH_95','RH_100','label']]

train3 = train3[['image','crops','areas','grows','month','temp_cond_1','temp_cond_2','temp_cond_3','temp_cond_4',
                    'humidity_70','humidity_80','humidity_90','humidity_95',
                     'RH_70','RH_95','RH_100','label']]
train1

# 환경 데이터 훈련

In [ ]:
train_img_names1 = train1.pop('image')
train_img_names2 = train2.pop('image')
train_img_names3 = train3.pop('image')
test_img_names = test_df_csv.pop('image')

In [ ]:
ignore_features = []
categorical_features = []
numerical_features = ['month','temp_cond_1','temp_cond_2','temp_cond_3','temp_cond_4',
                    'humidity_70','humidity_80','humidity_90','humidity_95',
                     'RH_70','RH_95','RH_100']

In [ ]:
clf = setup(data=train1, 
            target='label', 
            ignore_features=ignore_features,           
            categorical_features=categorical_features, 
            numeric_features=numerical_features,
            #remove_outliers=True,
            #outliers_threshold=0.1,
            normalize=True,                            
            #handle_unknown_categorical=True,
#             imputation_type='iterative',              
#             iterative_imputation_iters=10,            
#             categorical_iterative_imputer='lightgbm',
            #polynomial_features=True,
            session_id=SEED, 
            silent=True,
           # profile=True
            )

In [ ]:
best_models = compare_models(sort='f1', n_select=3, fold=5)

In [ ]:
tuned_top3 = [tune_model(i) for i in best_models]
blender = blend_models(tuned_top3)
best_auc_model = automl(optimize = 'F1')
finalized_model = finalize_model(best_auc_model)

In [ ]:
test_img_names = test_df_csv.pop('image')

In [104]:
predictions = predict_model(data=test_df_csv, estimator=finalized_model)

In [105]:
predictions

,RH_95,humidity_95,RH_70,humidity_70,month,temp_cond_2,temp_cond_1,humidity_80,temp_cond_3,RH_100,temp_cond_4,humidity_90,Label,Score
0,0.206186,0.333333,0.419244,0.175258,7.000000,0.000000,0.316151,0.178694,0.233677,0.134021,0.089347,0.075601,6_00_0,1.0
1,0.000000,0.000000,0.731293,0.122449,10.738095,0.537415,0.064626,0.602041,0.000000,0.000000,0.000000,0.000000,5_00_0,1.0
2,0.000000,0.000000,0.932432,0.175676,10.000000,0.000000,0.324324,0.621622,0.000000,0.000000,0.000000,0.135135,1_00_0,1.0
3,0.003401,0.000000,0.571429,0.095238,9.000000,0.000000,0.183673,0.234694,0.000000,0.000000,0.000000,0.244898,3_00_0,1.0
4,0.000000,0.000000,0.741497,0.119048,10.500000,0.554422,0.064626,0.619048,0.000000,0.000000,0.000000,0.000000,5_00_0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51901,0.098639,0.003401,0.561224,0.030612,10.000000,0.000000,0.102041,0.122449,0.020408,0.000000,0.000000,0.496599,2_a5_2,1.0
51902,0.000000,0.000000,0.751701,0.098639,11.000000,0.717687,0.000000,0.588435,0.000000,0.000000,0.000000,0.061224,3_b7_1,1.0
51903,0.207483,0.411565,0.193878,0.068027,7.000000,0.000000,0.421769,0.074830,0.047619,0.207483,0.350340,0.051020,6_00_0,1.0
51904,0.469388,0.574830,0.428571,0.112245,10.000000,0.282313,0.088435,0.139456,0.040816,0.061224,0.030612,0.132653,3_00_0,1.0
51905,0.204082,0.397959,0.187075,0.068027,7.000000,0.000000,0.411565,0.071429,0.054422,0.190476,0.370748,0.047619,6_00_0,1.0

In [177]:
submission= pd.read_csv('C:/Users/jeong/Projects/dacon/병해진단/data/submission5.csv')

submission

       image   label
0      10000  6_00_0
1      10001  5_b6_1
2      10002  4_00_0
3      10003  3_00_0
4      10004  3_b8_1
...      ...     ...
51901  67673  4_00_0
51902  67674  3_b7_1
51903  67675  6_00_0
51904  67676  2_a5_2
51905  67677  6_00_0

[51906 rows x 2 columns]

In [171]:
submission.isna().sum()

image     0
label    40
dtype: int64

In [178]:
submission = submission.fillna('-')

submission['crops'] = submission.label.astype(str).apply(lambda x: x[0])
submission['diseases'] = submission.label.astype(str).apply(lambda x: x[2:4])
submission['risks'] = submission.label.astype(str).apply(lambda x: x[-1])
submission

       image   label crops diseases risks
0      10000  6_00_0     6       00     0
1      10001  5_b6_1     5       b6     1
2      10002  4_00_0     4       00     0
3      10003  3_00_0     3       00     0
4      10004  3_b8_1     3       b8     1
...      ...     ...   ...      ...   ...
51901  67673  4_00_0     4       00     0
51902  67674  3_b7_1     3       b7     1
51903  67675  6_00_0     6       00     0
51904  67676  2_a5_2     2       a5     2
51905  67677  6_00_0     6       00     0

[51906 rows x 5 columns]

In [181]:
len(submission[submission.label=='-'])

40

In [107]:
predictions['crops'] = predictions.Label.apply(lambda x: x.split('_')[0])
predictions['diseases']= predictions.Label.apply(lambda x: x.split('_')[1])
predictions['risks']= predictions.Label.apply(lambda x: x.split('_')[2])

In [108]:
predictions = predictions[['crops','diseases','risks','Label']]
predictions['image']= test_images

In [182]:
predictions

      crops diseases risks   Label  image
0         6       00     0  6_00_0  10000
1         5       00     0  5_00_0  10001
2         1       00     0  1_00_0  10002
3         3       00     0  3_00_0  10003
4         5       00     0  5_00_0  10004
...     ...      ...   ...     ...    ...
51901     2       a5     2  2_a5_2  67673
51902     3       b7     1  3_b7_1  67674
51903     6       00     0  6_00_0  67675
51904     3       00     0  3_00_0  67676
51905     6       00     0  6_00_0  67677

[51906 rows x 5 columns]

In [183]:
submission.image = submission.image.astype(int)
predictions.image = predictions.image.astype(int)

submissions = pd.merge(submission, predictions, on='image',how='outer')
submissions

,image,label,crops_x,diseases_x,risks_x,crops_y,diseases_y,risks_y,Label
0,10000,6_00_0,6,00,0,6,00,0,6_00_0
1,10001,5_b6_1,5,b6,1,5,00,0,5_00_0
2,10002,4_00_0,4,00,0,1,00,0,1_00_0
3,10003,3_00_0,3,00,0,3,00,0,3_00_0
4,10004,3_b8_1,3,b8,1,5,00,0,5_00_0
...,...,...,...,...,...,...,...,...,...
51901,67673,4_00_0,4,00,0,2,a5,2,2_a5_2
51902,67674,3_b7_1,3,b7,1,3,b7,1,3_b7_1
51903,67675,6_00_0,6,00,0,6,00,0,6_00_0
51904,67676,2_a5_2,2,a5,2,3,00,0,3_00_0
51905,67677,6_00_0,6,00,0,6,00,0,6_00_0

In [184]:
submissions[submissions.crops_x!=submissions.crops_y]

,image,label,crops_x,diseases_x,risks_x,crops_y,diseases_y,risks_y,Label
2,10002,4_00_0,4,00,0,1,00,0,1_00_0
4,10004,3_b8_1,3,b8,1,5,00,0,5_00_0
5,10005,6_00_0,6,00,0,5,00,0,5_00_0
7,10007,5_b7_1,5,b7,1,3,b7,1,3_b7_1
13,10013,3_a9_1,3,a9,1,1,00,0,1_00_0
...,...,...,...,...,...,...,...,...,...
51894,67666,1_00_0,1,00,0,4,00,0,4_00_0
51898,67670,2_00_0,2,00,0,4,00,0,4_00_0
51900,67672,6_00_0,6,00,0,5,00,0,5_00_0
51901,67673,4_00_0,4,00,0,2,a5,2,2_a5_2
51904,67676,2_a5_2,2,a5,2,3,00,0,3_00_0

In [112]:
submissions[submissions.label!=submissions.Label]

       image   label crops diseases risks    Label
1      10001  5_b6_1     5       00     0   5_00_0
2      10002  4_00_0     1       00     0   1_00_0
4      10004  3_b8_1     5       00     0   5_00_0
5      10005  6_00_0     5       00     0   5_00_0
7      10007  5_b7_1     3       b7     1   3_b7_1
...      ...     ...   ...      ...   ...      ...
51898  67670  2_00_0     4       00     0   4_00_0
51899  67671  6_b5_1     6      a11     1  6_a11_1
51900  67672  6_00_0     5       00     0   5_00_0
51901  67673  4_00_0     2       a5     2   2_a5_2
51904  67676  2_a5_2     3       00     0   3_00_0

[27301 rows x 6 columns]

In [81]:
submission['crops'] = submission.label.apply(lambda x: x.split('_')[0])
submission['diseases']= submission.label.apply(lambda x: x.split('_')[1])
submission['risks']= submission.label.apply(lambda x: x.split('_')[2])
submission

AttributeError: 'float' object has no attribute 'split'

In [158]:
# print(f'temp_cond_1:{temp_cond_1}')
# print(f'temp_cond_2:{temp_cond_2}')
# print(f'temp_cond_3:{temp_cond_3}')
# print(f'temp_cond_4:{temp_cond_4}')
# print(f'humidity_70:{humidity_70}')
# print(f'humidity_80:{humidity_80}')
# print(f'humidity_90:{humidity_90}')
# print(f'humidity_95:{humidity_95}')
# print(f'humidity_100:{humidity_100}')
# print(f'RH_70:{RH_70}')
# print(f'RH_95:{RH_95}')
# print(f'RH_100:{RH_100}')
# print(f'month:{month}')

# b= pd.Series({'month':month,'temp_cond_1':temp_cond_1,'temp_cond_2':temp_cond_2,'temp_cond_3':temp_cond_3,'temp_cond_4':temp_cond_4,
#                     'humidity_70':humidity_70,'humidity_80':humidity_80,'humidity_90':humidity_90,'humidity_95':humidity_95,'humidity_100':humidity_100,
#                      'RH_70':RH_70,'RH_95':RH_95,'RH_100':RH_100})

temp_cond_1:0.5136054421768708
temp_cond_2:0.0
temp_cond_3:0.1326530612244898
temp_cond_4:0.0
humidity_70:0.08163265306122448
humidity_80:0.17346938775510204
humidity_90:0.2619047619047619
humidity_95:0.09863945578231292
humidity_100:0.0
RH_70:0.5238095238095238
RH_95:0.06802721088435375
RH_100:0.027210884353741496
month:8

In [22]:
print(np.any([1,1,1]))
print(np.any([1,0,0,1]))

True
True

## 포도노균병
- 균사 생육온도 5∼21℃, 
- 분생포자 발아적온 **20∼22℃ **
- 발병조건 : 고온 다습
- 분생포자 형성 환경 : 기온 12℃, 습도 95∼100%
- 분생포자, 난포자 발아 적온 : 20∼25℃
- 주로 습기가 많고, 그늘지고, 통풍이 불량한 과원에서 많이 발병

## 포도탄저병
- 5월 월동 병반에서 분생포자 형성, 강우로 미숙과에서 분산, 전파 - 생육온도 7∼37℃, 발병적온 28℃
- 고온 다습(성숙기) 포도에 치명적인 피해

## 포도흰가루
- 고온건조(개화기부터 10월 상순)
- 최저 15℃, 최적 25∼30℃, 70%이상
- 특히 13℃ 이하의 저온, 32℃ 이상의 고온 병의 진전 둔화
- 5월 중순부터 발병하여 6∼7월에 많이 발병
- 특히 이른봄부터 여름사이에 기온이 높은 해에 심하게 발병

## 포도일소피해
- 과립온도 35℃이상이면 호흡이상으로 과실내 알데히드 축적, 세포가 죽음으로써 발생

## 포도 축과병
- 직사광선이 강하게 닿지 않는 과방의 속이나 아랫부분에 발생
- 장마기 또는 직후 온도 및 토양수분의 변화가 급격히 일어나 수분흡수와 증산의 균형이 깨져 일어남
- 비가 내린후 맑은 날씨가 되었을 때 심하게 발생

In [85]:
train_csv[0]

'C:/Users/jeong/Projects/dacon/병해진단/data/train\\10027\\10027.csv'

In [68]:
csv_data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   측정시각        588 non-null    object
 1   내부 온도 1 평균  588 non-null    float64
 2   내부 온도 1 최고  588 non-null    float64
 3   내부 온도 1 최저  588 non-null    float64
 4   내부 습도 1 평균  588 non-null    float64
 5   내부 습도 1 최고  588 non-null    float64
 6   내부 습도 1 최저  588 non-null    float64
 7   내부 이슬점 평균   588 non-null    float64
 8   내부 이슬점 최고   588 non-null    float64
 9   내부 이슬점 최저   588 non-null    float64
dtypes: float64(9), object(1)
memory usage: 46.1+ KB

In [ ]:
crop_dict = {1:'딸기', 
             2:'토마토',
             3:'파프리카',
             4:'오이', 
             5:'고추',
             6: '시설포도'}

area_dict = {1:'열매',
             2:'꽃',
             3:'잎',
             4:'가지',
             5:'줄기',
             6:'뿌리',
             7:'해충'}

task_dict = {0:'정상',
             1:'병해',
             2:'생리장애',
             3:'보호제처리반응'}

disease_dict = {'00' : '정상',
                
                # 병해 a
                'a1' : '딸기잿빛곰팡이병',
                'a2' : '딸기흰가루병',
                'a3' : '오이노균병',
                'a4' : '오이흰가루병',
                'a5' : '토마토흰가루병',
                'a6' : '토마토잿빛곰팡이병',
                'a7' : '고추탄저병',
                'a8' : '고추흰가루병',
                'a9' : '파프리카흰가루병',
                'a10' : '파프리카잘록병',
                'a11' : '시설포도탄저병',
                'a12' : '시설포도노균병',
                
                # 생리장애 b
                'b1' : '냉해피해',
                'b2' : '열과',
                'b3' : '칼슘결핍',
                'b4' : '일소피해',
                'b5' : '축과병',
                'b6' : '다량원소결핍 (N)',
                'b7' : '다량원소결핍 (P)',
                'b8' : '다량원소결핍 (K)',
                
                # 보호제 처리반응 c
                'c1' : '딸기잿빛곰팡이병반응',
                'c2' : '딸기흰가루병반응',
                'c3' : '오이노균병반응',
                'c4' : '오이흰가루병반응',
                'c5' : '토마토흰가루병반응',
                'c6' : '토마토잿빛곰팡이병반응',
                'c7' : '고추탄저병반응',
                'c8' : '고추흰가루병반응',
                'c9' : '파프리카흰가루병반응',
                'c10' : '파프리카잘록병반응',
                'c11' : '시설포도탄저병반응',
                'c12' : '시설포도노균병반응'
               }

            # 시설 과채류
grow_dict = {11:'유묘기',
             12:'생장기',
             13:'착화/과실기',
             
             # 시설 과수류 (포도)
             21:'발아기',
             22:'개화기',
             23:'신초생장기',
             24:'과실성숙기',
             25:'수확기',
             26:'휴면기'}

risk_dict = {0:'정상',
             1:'초기',
             2:'중기',
             3:'말기'}