#[Dacon] Book Recommendation Algorithm AI Competition
- Ranked in the Top 7% (47/1215)
- RMSE 3.405
- Preprocessing
    - Filling missing values in publication year, Author... etc.
    - standardizing typos and abbreviations.
    - Correcting outliers in the 'Age' column (e.g., 200 years old), and handling age ranges as 'Age-Band'.
- Boosting Linear Regression, Ridge Regression and Least Angle Regression using PyCaret.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install pycaret
!pip install dataprep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycaret
  Downloading pycaret-3.0.0-py3-none-any.whl (481 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 481.8/481.8 kB 27.8 MB/s eta 0:00:00
Requirement already satisfied: ipython>=5.5.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (7.34.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /usr/local/lib/python3.10/dist-packages (from pycaret) (7.7.1)
Requirement already satisfied: tqdm>=4.62.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (4.65.0)
Requirement already satisfied: numpy<1.25,>=1.21 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.22.4)
Requirement already satisfied: pandas<1.6.0,>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.5.3)
Requirement already satisfied: jinja2>=1.2 in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.1.2)
Requirement already satisfied: scipy<2.0.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.10.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.2.2)
Collecting pyod>=1.0.8 (from pycaret)
  Downloading pyod-1.0.9.tar.gz (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.0/150.0 kB 21.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: imbalanced-learn>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.10.1)
Collecting category-encoders>=2.4.0 (from pycaret)
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 11.8 MB/s eta 0:00:00
Requirement already satisfied: lightgbm>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.3.5)
Requirement already satisfied: numba>=0.55.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.56.4)
Requirement already satisfied: requests>=2.27.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.27.1)
Requirement already satisfied: psutil>=5.9.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.9.5)
Requirement already satisfied: markupsafe>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.1.2)
Collecting importlib-metadata>=4.12.0 (from pycaret)
  Downloading importlib_metadata-6.6.0-py3-none-any.whl (22 kB)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.8.0)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from pycaret) (2.2.1)
Collecting deprecation>=2.1.0 (from pycaret)
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Collecting xxhash (from pycaret)
  Downloading xxhash-3.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 22.9 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (3.7.1)
Collecting scikit-plot>=0.3.7 (from pycaret)
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Requirement already satisfied: yellowbrick>=1.4 in /usr/local/lib/python3.10/dist-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from pycaret) (5.13.1)
Collecting kaleido>=0.2.1 (from pycaret)
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 11.4 MB/s eta 0:00:00
Collecting schemdraw>=0.14 (from pycaret)
  Downloading schemdraw-0.16-py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.8/105.8 kB 13.9 MB/s eta 0:00:00
Collecting plotly-resampler>=0.8.3.1 (from pycaret)
  Downloading plotly_resampler-0.8.3.2.tar.gz (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.4/46.4 kB 6.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: statsmodels>=0.12.1 in /usr/local/lib/python3.10/dist-packages (from pycaret) (0.13.5)
Collecting sktime>=0.16.1 (from pycaret)
  Downloading sktime-0.18.0-py3-none-any.whl (16.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.9/16.9 MB 57.1 MB/s eta 0:00:00
Collecting tbats>=1.1.0 (from pycaret)
  Downloading tbats-1.1.3-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 5.4 MB/s eta 0:00:00
Collecting pmdarima!=1.8.1,<3.0.0,>=1.8.0 (from pycaret)
  Downloading pmdarima-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 56.6 MB/s eta 0:00:00
Collecting wurlitzer (from pycaret)
  Downloading wurlitzer-3.0.3-py3-none-any.whl (7.3 kB)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from deprecation>=2.1.0->pycaret) (23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from imbalanced-learn>=0.8.1->pycaret) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.12.0->pycaret) (3.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (67.7.2)
Collecting jedi>=0.16 (from ipython>=5.5.0->pycaret)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 63.4 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.5.0->pycaret) (4.8.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (3.6.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets>=7.6.5->pycaret) (3.0.7)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.0.0->pycaret) (0.40.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (4.3.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.10/dist-packages (from nbformat>=4.2.0->pycaret) (5.3.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.55.0->pycaret) (0.39.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6.0,>=1.3.0->pycaret) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->pycaret) (8.2.2)
Collecting dash<3.0.0,>=2.2.0 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash-2.9.3-py3-none-any.whl (10.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 72.2 MB/s eta 0:00:00
Collecting jupyter-dash>=0.4.2 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Collecting orjson<4.0.0,>=3.8.0 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading orjson-3.8.12-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (137 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.2/137.2 kB 13.9 MB/s eta 0:00:00
Collecting trace-updater>=0.0.8 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading trace_updater-0.0.9.1-py3-none-any.whl (185 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 185.2/185.2 kB 20.9 MB/s eta 0:00:00
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (0.29.34)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (1.26.15)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from pyod>=1.0.8->pycaret) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27.1->pycaret) (3.4)
Collecting deprecated>=1.2.13 (from sktime>=0.16.1->pycaret)
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting scikit-base<0.5.0 (from sktime>=0.16.1->pycaret)
  Downloading scikit_base-0.4.3-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.6/116.6 kB 15.4 MB/s eta 0:00:00
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.4)
Collecting dash-html-components==2.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated>=1.2.13->sktime>=0.16.1->pycaret) (1.14.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.19.3)
Collecting retrying (from jupyter-dash>=0.4.2->plotly-resampler>=0.8.3.1->pycaret)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting ansi2html (from jupyter-dash>=0.4.2->plotly-resampler>=0.8.3.1->pycaret)
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from jupyter-dash>=0.4.2->plotly-resampler>=0.8.3.1->pycaret) (1.5.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.5.0->pycaret) (0.2.6)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.4.8)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (3.3.0)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (2.3.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler>=0.8.3.1->pycaret) (8.1.3)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.5.4)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.16.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.2.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.2.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.7.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.2.1)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.21)
Building wheels for collected packages: plotly-resampler, pyod
  Building wheel for plotly-resampler (pyproject.toml) ... done
  Created wheel for plotly-resampler: filename=plotly_resampler-0.8.3.2-cp310-cp310-manylinux_2_31_x86_64.whl size=75248 sha256=11acd21745ef8ad933dab1233765eb16395a488b193b308d54a2bda3b6a0f702
  Stored in directory: /root/.cache/pip/wheels/a9/19/e2/ec856d98cf9b617511fff0abae1dfed5bf1f6093ce65126b45
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.0.9-py3-none-any.whl size=184097 sha256=df1b8384ba2072f3dcaa8c880224b233c393b97469e4c19eb0a4a316f2aea48f
  Stored in directory: /root/.cache/pip/wheels/83/55/6b/552e083cf5509c0afe808b76cf434f1be284d01a112623bd37
Successfully built plotly-resampler pyod
Installing collected packages: trace-updater, kaleido, dash-table, dash-html-components, dash-core-components, xxhash, wurlitzer, scikit-base, schemdraw, retrying, orjson, jedi, importlib-metadata, deprecation, deprecated, ansi2html, sktime, scikit-plot, pyod, dash, pmdarima, jupyter-dash, category-encoders, tbats, plotly-resampler, pycaret
Successfully installed ansi2html-1.8.0 category-encoders-2.6.0 dash-2.9.3 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 deprecated-1.2.13 deprecation-2.1.0 importlib-metadata-6.6.0 jedi-0.18.2 jupyter-dash-0.4.2 kaleido-0.2.1 orjson-3.8.12 plotly-resampler-0.8.3.2 pmdarima-2.0.3 pycaret-3.0.0 pyod-1.0.9 retrying-1.3.4 schemdraw-0.16 scikit-base-0.4.3 scikit-plot-0.3.7 sktime-0.18.0 tbats-1.1.3 trace-updater-0.0.9.1 wurlitzer-3.0.3 xxhash-3.2.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dataprep
  Downloading dataprep-0.4.5-py3-none-any.whl (9.9 MB)

In [ ]:
!unzip -qq "/content/drive/MyDrive/데이콘_도서추천" -d "/content/"

# Import libraries

In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
import warnings
warnings.filterwarnings("ignore")
from pycaret.regression import *
from dataprep.eda import create_report

In [ ]:
# Custom colors
class clr:
    S = '\033[1m' + '\033[94m'
    E = '\033[0m'

In [ ]:
train_df = pd.read_csv("train.csv")
train_df

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book
...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,USER_92096,BOOK_081138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins
871389,TRAIN_871389,USER_92097,BOOK_258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony
871390,TRAIN_871390,USER_92098,BOOK_071848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press
871391,TRAIN_871391,USER_92099,BOOK_252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr
871392,TRAIN_871392,USER_92100,BOOK_130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books

In [ ]:
np.sum(train_df.isna(), axis=0)

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
print(train_df.columns)
for col in train_df.select_dtypes('O').columns[1:]:
    print(col, len(train_df[col].unique()))
    display(train_df[col].value_counts())
    print()

In [ ]:
set(train_df.columns) - set(train_df.select_dtypes('O').columns)

{'Age', 'Book-Rating', 'Year-Of-Publication'}

In [ ]:
print(train_df['Age'].dtype) # 왜 float이지? nan 값이 있나 ?
print(train_df['Book-Rating'].dtype)
print(train_df['Year-Of-Publication'].dtype)

float64
int64
float64

In [ ]:
test_df = pd.read_csv('test.csv')
test_df

,ID,User-ID,Book-ID,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TEST_000000,USER_00008,BOOK_047966,37.0,"vermilion, ohio, usa",Birds of Prey: A Novel of Suspense,J.A. Jance,2002.0,Avon
1,TEST_000001,USER_00008,BOOK_119494,37.0,"vermilion, ohio, usa",Midnight Voices,JOHN SAUL,2003.0,Ballantine Books
2,TEST_000002,USER_00008,BOOK_151775,37.0,"vermilion, ohio, usa",Breaking Free : A Prescription for Personal an...,David M. Noer,1996.0,Jossey-Bass
3,TEST_000003,USER_00008,BOOK_176255,37.0,"vermilion, ohio, usa",Bitter Harvest,Ann Rule,1999.0,Pocket
4,TEST_000004,USER_00008,BOOK_187307,37.0,"vermilion, ohio, usa",Embraced by the Light,Betty J. Eadie,1994.0,Bantam Books
...,...,...,...,...,...,...,...,...,...
159616,TEST_159616,USER_92086,BOOK_159050,0.0,"mountain view, california, usa",The Fat Flush Plan,Ann Louise Gittleman,2001.0,McGraw-Hill/Contemporary Books
159617,TEST_159617,USER_92086,BOOK_196481,0.0,"mountain view, california, usa",We Die Alone: A WWII Epic of Escape and Endurance,David Howarth,1999.0,The Lyons Press
159618,TEST_159618,USER_92086,BOOK_199754,0.0,"mountain view, california, usa",From 60 Yards In : How to Master Golf's Short ...,Raymond Floyd,1992.0,Perennial
159619,TEST_159619,USER_92086,BOOK_227481,0.0,"mountain view, california, usa",Solo: On Her Own Adventure,Susan Fox Rogers,1996.0,Seal Press (WA)
159620,TEST_159620,USER_92086,BOOK_237054,0.0,"mountain view, california, usa",Avalanche Safety: For Skiers &amp; Climbers,Tony Daffern,1999.0,Mountaineers Books

In [ ]:
train_df[~train_df['Age'].apply(lambda x: x.is_integer())]

Empty DataFrame
Columns: [ID, User-ID, Book-ID, Book-Rating, Age, Location, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [ ]:
train_df[~train_df['Year-Of-Publication'].apply(lambda x: x.is_integer())]

Empty DataFrame
Columns: [ID, User-ID, Book-ID, Book-Rating, Age, Location, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [ ]:
for col in test_df.columns[1:]:
    print(clr.S + col + clr.E)
    print(set(train_df[col].unique()) - set(test_df[col].unique()))
    print(set(test_df[col].unique()) - set(train_df[col].unique()))
    print('='*50)

### AGE
100살 이상... 심지어 200살 이상도 있다..  
100이상은 이상치라고 판단하고 임의로 앞자리 떼서 band로 묶어서 처리  
### Location
전처리 후  value_counts하고 다시 알아보자
### Year-Of-Publication
출판년도도 band로 묶어서 처리
### Publisher
출판사가 평점에 영향을 줄까? 시각화로 확인해보기
### Book-ID, User-ID
제외할지 말지 고민해보기. Book-ID를 제외한다면 출판사 포함.
### Book-Title
쪼개서 분석해보는것도 재밌을 듯

In [ ]:
test_df[~test_df['Age'].apply(lambda x: x.is_integer())]

Empty DataFrame
Columns: [ID, User-ID, Book-ID, Age, Location, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [ ]:
test_df[~test_df['Year-Of-Publication'].apply(lambda x: x.is_integer())]

Empty DataFrame
Columns: [ID, User-ID, Book-ID, Age, Location, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

age나 year는 int형이어야 할 것 같은데 float64형태인 것으로 보아 결측값이 있을지도...?  
-> 없으니까 그냥 int로 변경

In [ ]:
train_df['Age'] = train_df['Age'].astype(int)
train_df['Year-Of-Publication'] = train_df['Year-Of-Publication'].astype(int)
test_df['Age'] = test_df['Age'].astype(int)
test_df['Year-Of-Publication'] = test_df['Year-Of-Publication'].astype(int)

print(len(train_df['Age'].unique()))
print(len(train_df['Year-Of-Publication'].unique()))
print(len(test_df['Age'].unique()))
print(len(test_df['Year-Of-Publication'].unique()))

137
110
108
82

In [ ]:
test_df['Age'].value_counts()

35     45940
33      5513
29      5181
36      4378
32      4227
       ...
84         1
237        1
95         1
156        1
99         1
Name: Age, Length: 108, dtype: int64

In [ ]:
test_df['Year-Of-Publication'].value_counts()

2002    14610
2001    12201
2003    11792
1999    11008
2000    10577
        ...
1948        1
2011        1
1909        1
2020        1
1930        1
Name: Year-Of-Publication, Length: 82, dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871393 entries, 0 to 871392
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   871393 non-null  object
 1   User-ID              871393 non-null  object
 2   Book-ID              871393 non-null  object
 3   Book-Rating          871393 non-null  int64
 4   Age                  871393 non-null  int64
 5   Location             871393 non-null  object
 6   Book-Title           871393 non-null  object
 7   Book-Author          871393 non-null  object
 8   Year-Of-Publication  871393 non-null  int64
 9   Publisher            871393 non-null  object
dtypes: int64(3), object(7)
memory usage: 66.5+ MB

### Age를 Age-Band로 전처리
0세가 평점을 매길 수 있을까? ...  
6세미만은 그 외로 처리

In [ ]:
train_df[train_df['Age'] < 10]['Age'].value_counts()

9    1307
0     495
8     448
1     361
2     278
4     250
3     128
7     108
5     101
6      12
Name: Age, dtype: int64

In [ ]:
def age_to_ageband(x):
    if x > 110:
        x = int(str(x)[1:])
    if x < 6:
        return "others"
    elif x < 10:
        return "children"
    elif x < 20:
        return "10's"
    elif x < 30:
        return "20's"
    elif x < 40:
        return "30's"
    elif x < 50:
        return "40's"
    elif x < 60:
        return "50's"
    elif x < 70:
        return "60's"
    elif x >= 70:
        return "upper70"
train_df['Age-Band'] = train_df['Age'].apply(lambda x: age_to_ageband(x))
train_df['Age-Band'].value_counts()

30's        442314
20's        158769
40's        130835
50's         77568
10's         27359
60's         26288
upper70       4372
others        1993
children      1895
Name: Age-Band, dtype: int64

In [ ]:
test_df['Age-Band'] = test_df['Age'].apply(lambda x: age_to_ageband(x))
test_df['Age-Band'].value_counts()

30's        80305
20's        30070
40's        22246
50's        15619
10's         5297
60's         4070
children      891
upper70       697
others        426
Name: Age-Band, dtype: int64

### Year-Of-Publication
-1 값 처리 어떻게 할지?  
1. 일일히 찾기
2. 그냥 결측치로 두기

In [ ]:
train_df['Year-Of-Publication'].describe()

count    871393.000000
mean       1968.903339
std         228.077752
min          -1.000000
25%        1991.000000
50%        1997.000000
75%        2001.000000
max        2021.000000
Name: Year-Of-Publication, dtype: float64

In [ ]:
train_df[train_df['Year-Of-Publication'] < 1900]['Year-Of-Publication'].value_counts()

-1       11515
 1378        1
 1806        1
 1376        1
 1897        1
Name: Year-Of-Publication, dtype: int64

In [ ]:
 len(train_df[train_df['Year-Of-Publication']==-1][['Book-Title', 'Book-Author', 'Publisher']].drop_duplicates())

4056

In [ ]:
for k, _ in train_df[(train_df['Year-Of-Publication'] == -1)][['Book-Title', 'Publisher']].value_counts().items():
    print(f'Book "{k[0]}" at "{k[1]}"')

같은 책이여도 출판사가 다르면 출판년도가 다를 수 있음을 간과함 ㅠㅠ  
찾은거 그냥 쓸지?  
다시 찾을지  
-> 일단 그냥 결측치로 두고 band 처리

In [ ]:
train_df['Year-Of-Publication'].value_counts()

2002    77173
2001    67566
1999    64175
2000    61749
2003    60744
        ...
2008        1
1909        1
1904        1
1378        1
1910        1
Name: Year-Of-Publication, Length: 110, dtype: int64

In [ ]:
train_df[(train_df['Year-Of-Publication'] != -1) & (train_df['Year-Of-Publication'] < 1980)]['Year-Of-Publication'].value_counts().sum()

29337

In [ ]:
train_df[(train_df['Year-Of-Publication'] >= 1980) & (train_df['Year-Of-Publication'] < 1990)]['Year-Of-Publication'].value_counts().sum()

123469

In [ ]:
train_df[(train_df['Year-Of-Publication'] >= 2010)]['Year-Of-Publication'].value_counts().sum()

71

In [ ]:
def year_to_yearband(df):
    df.loc[(df['Year-Of-Publication'] < 1980), 'Year-Of-Publication_Band'] = "<1980s"
    df.loc[(df['Year-Of-Publication'] >= 1980) & (df['Year-Of-Publication'] < 1990), 'Year-Of-Publication_Band'] = "1980s"
    df.loc[(df['Year-Of-Publication'] >= 1990) & (df['Year-Of-Publication'] < 2000), 'Year-Of-Publication_Band'] = "1990s"
    df.loc[(df['Year-Of-Publication'] >= 2000), 'Year-Of-Publication_Band'] = ">=2000s"
    df.loc[(df['Year-Of-Publication'] == -1), 'Year-Of-Publication_Band'] = 'no_data'
    return df
train_df = year_to_yearband(train_df)
test_df = year_to_yearband(test_df)
test_df['Year-Of-Publication_Band'].value_counts()

1990s      76793
>=2000s    53486
1980s      21623
<1980s      5294
no_data     2425
Name: Year-Of-Publication_Band, dtype: int64

In [ ]:
train_df['Year-Of-Publication_Band'].value_counts()

1990s      417970
>=2000s    289102
1980s      123469
<1980s      29337
no_data     11515
Name: Year-Of-Publication_Band, dtype: int64

In [ ]:
train_df.columns

Index(['ID', 'User-ID', 'Book-ID', 'Book-Rating', 'Age', 'Location',
       'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Age-Band', 'Year-Of-Publication_Band'],
      dtype='object')

In [ ]:
pd.get_dummies(train_df[['Book-Rating','Book-Title', 'Book-Author', 'Publisher', 'Age-Band', 'Year-Of-Publication_Band']], columns=['Book-Author','Year-Of-Publication_Band', 'Age-Band', 'Publisher'])

In [ ]:
train_df['Location'].str.split(',', expand=True).loc[:, 6].value_counts()

 south korea    1
Name: 6, dtype: int64

In [ ]:
train_df['Location'].str.split(',', expand=True).loc[:, 5].value_counts()

 302      1
 china    1
Name: 5, dtype: int64

In [ ]:
train_df['Location'].str.split(',', expand=True).loc[:, 4].value_counts()

 usa                     263
 canada                    9
 spain                     1
 626-1                     1
 japan                     1
xueyuan rd. hexi dist      1
 italy                     1
Name: 4, dtype: int64

In [ ]:
train_df['Location'].str.split(',', expand=True).loc[:, 3].value_counts()

 usa                              1048
 united kingdom                    975
 georgia                           241
 spain                             121
 japan                              67
 portugal                           67
 canada                             63
                                    56
 malaysia                           36
 australia                          23
 kansas                             21
 channel islands                    15
 south korea                        14
 tobago                             12
 italy                              11
 mexico                              8
 ireland                             8
 iceland                             8
 new zealand                         8
 british columbia                    7
 france                              7
 austria                             5
 cape verde                          5
 philippines                         4
 switzerland                         4
 germany                             3
 singapore                           3
 england                             2
 china                               2
 finland                             1
guishan li                           1
 honduras                            1
 gifu                                1
 the                                 1
italy                                1
 guam                                1
 netherlands                         1
 denmark                             1
 indonesia                           1
 rhode island                        1
 the world tomorrow                  1
 nigeria                             1
 guam-dong                           1
 disgruntled states of america       1
 deutschland                         1
 galiza                              1
 greece                              1
 united states                       1
 ontario                             1
Name: 3, dtype: int64

In [ ]:
import re

In [ ]:
x = 'asdf, 123-9, ss'
''.join(re.findall('[a-zA-Z,]', x)).split(',')

['asdf', '', 'ss']

In [ ]:
def location_split(x):
    location = ''.join(re.findall('[a-zA-Z, ]', x))
    location = location.split(',')
    i = 0
    d = {0: 'city', 1: 'state', 2:'nation'}
    res = dict()
    for l in location:
        if l != '':
            res[d[i]] = l.strip()
            i += 1
        if i == 2:
            break
    res['nation'] = location[-1]
    return ','.join(list(res.values()))

In [ ]:
train_df['Location'].apply(lambda x: location_split(x)).str.split(',', expand=True).value_counts()

0            1                   2
toronto      ontario              canada            12267
na           na                   na                11161
st louis     missouri             usa                9792
chicago      illinois             usa                7214
seattle      washington           usa                6967
                                                    ...
lexpark      md                   usa                   1
leyden       holland              netherlands           1
leytonstone  na                   united kingdom        1
lhne         nordrheinwestfalen   germany               1
zwolle       overijssel           netherlands           1
Length: 20660, dtype: int64

In [ ]:
train_df = pd.concat([train_df, train_df['Location'].apply(lambda x: location_split(x)).str.split(',', expand=True).rename(columns={0:'City', 1:'State', 2:'Nation'})], axis=1)
test_df = pd.concat([test_df, test_df['Location'].apply(lambda x: location_split(x)).str.split(',', expand=True).rename(columns={0:'City', 1:'State', 2:'Nation'})], axis=1)

In [ ]:
print(list(train_df['Nation'].unique()))

[' canada', ' usa', ' germany', ' spain', ' australia', ' united kingdom', '', ' italy', ' netherlands', ' portugal', ' sweden', ' austria', ' france', ' finland', ' new zealand', ' singapore', ' switzerland', ' philippines', ' espaa', ' malaysia', ' belgium', ' japan', ' denmark', ' belize', ' england', ' poland', ' ireland', ' haiti', ' trinidad and tobago', ' deutschland', ' tanzania', ' moldova', ' bulgaria', ' luxembourg', ' south africa', ' czech republic', ' israel', ' malta', ' petrolwar nation', ' kuwait', ' peru', ' ecuador', ' south korea', ' turkey', ' nigeria', ' brazil', ' hungary', ' indonesia', ' kazakhstan', ' india', ' china', ' egypt', ' croatia', ' taiwan', ' argentina', ' chile', ' venezuela', ' galiza', ' iceland', ' scotland', ' bolivia', ' lithuania', None, ' norway', ' mexico', ' bahamas', ' united sates', ' romania', ' iran', ' dominican republic', ' maricopa', ' the world tomorrow', ' andorra', ' galiza neghra', ' jersey', ' ghana', ' richmond country', ' united arab emirates', ' tunisia', ' papua new guinea', ' catalunya', ' costa rica', ' vietnam', ' la chine ternelle', ' sri lanka', ' slovenia', ' universe', ' slovakia', ' greece', ' lleida', ' la chine ternelle ', ' framingham', ' puerto rico', ' grenada', ' cameroon', ' usa currently living in england', ' alderney', ' saint loius', ' laos', ' collin', ' burma', ' thailand', ' shelby', ' na', ' hong kong', ' tdzimi', ' space', ' worcester', ' ethiopia', ' zambia', ' los estados unidos de norte america', ' russia', ' united states', ' antarctica', ' polk', ' uae', ' cambodia', ' zimbabwe', ' here and there', ' cherokee', ' cananda', ' monaco', ' morgan', ' jamaica', ' cape verde', ' pakistan', ' mongolia', ' antigua and barbuda', ' cyprus', ' estonia', ' barbados', ' nepal', ' ukraine', ' pender', ' us', ' saint lucia', ' kenya', ' guernsey', ' euskal herria', ' yugoslavia', ' morocco', ' bosnia and herzegovina', ' colombia', ' ventura county', ' csa', ' hernando', ' latvia', ' prince william', ' x', ' kern', ' onondaga nation', ' guatemala', ' aruba', ' saudi arabia', ' were global', ' tobago', ' catalonia', ' urugua', ' turkmenistan', ' panama', ' uzbekistan', ' bermuda', ' oman', ' phillipines', ' disgruntled states of america', ' san mateo', ' uruguay', ' unknown', ' burkina faso', ' madagascar', ' georgia', ' benin', ' united state', ' nz', ' afghanistan', ' bangladesh', ' fiji', ' italia', ' bergued', ' paraguay', ' albania', ' ferrara', ' gabon', ' litalia', ' wales', ' cayman islands', ' macau', ' marshall islands', ' rwanda', ' niger', ' ysa', ' mauritius', ' macedonia', ' channel islands', ' palau', ' qatar', ' na  on the road', ' the great white north', ' cuba', ' algeria', ' united kindgonm', ' brunei', ' solomon islands', ' caribbean sea', ' kcb', ' stthomasi', ' guineabissau', ' iraq', ' catalunya spain', ' lebanon', ' la belgique', ' aroostook', ' guam', ' rutherford', ' honduras', ' el salvador', ' the', ' fort bend', ' syria', ' mozambique', ' far away', ' uk', ' quit', ' madrid', ' guinea', ' orense', ' st helena', ' hungary and usa', ' c', ' la france', ' everywhere and anywhere', ' us of a', ' uganda', ' united staes', ' eeuu', ' alachua', ' tajikistan', ' burlington', ' van wert', ' camden', ' bahrain', ' america']

In [ ]:
print(list(test_df['Nation'].unique()))

[' usa', ' united kingdom', ' canada', ' italy', ' portugal', '', ' austria', ' germany', ' australia', ' singapore', ' switzerland', ' malaysia', ' new zealand', ' belize', ' egypt', ' finland', ' england', ' spain', ' haiti', ' france', ' bulgaria', ' israel', ' belgium', ' luxembourg', ' netherlands', ' poland', ' turkey', ' hong kong', ' brazil', ' lithuania', ' sweden', ' denmark', ' mexico', ' romania', ' kuwait', ' south korea', ' japan', ' india', ' philippines', ' jersey', ' taiwan', ' laos', ' ghana', ' tunisia', ' norway', ' iran', ' greece', ' lleida', ' ireland', ' la suisse', ' la chine ternelle ', ' framingham', ' south africa', ' puerto rico', ' grenada', ' antarctica', ' china', ' argentina', ' shelby', ' samoa', ' zimbabwe', ' united states', ' chile', ' san franicsco', ' morocco', ' venezuela', ' wales', ' russia', ' here and there', ' malta', ' la france', ' hungary', ' ukraine', ' united states of america', ' monaco', ' czech republic', ' costa rica', ' nepal', ' united arab emirates', ' bahamas', ' kenya', ' tanzania', ' slovakia', ' ca', ' albania', ' macedonia', ' indonesia', ' kosovo', ' senegal', ' catalonia', ' slovenia', ' bermuda', ' aruba', ' barbados', ' scotland', ' galiza', ' tonga', ' deutschland', ' guatemala', ' rwanda', ' usa  canada', ' republic of panama', ' italia', ' espaa', ' lkjlj', ' moldova', ' brunei', ' niger', ' catalunya', ' ecuador', ' qatar', ' orange co', ' peru', ' the great white north', ' euskal herria', ' latvia', ' croatia', ' universe', ' ouranos', ' afghanistan', ' maracopa', ' iceland', ' fort bend', ' ua', ' dominican republic', ' st helena', ' everywhere and anywhere', ' andorra', ' cayman islands', ' cyprus', ' uae', ' thailand', ' alachua', ' quit', ' van wert', ' nigeria', ' guernsey', ' bahrain', ' saudi arabia', ' paraguay', ' angola', ' uruguay']

In [ ]:
train_df['Nation'].value_counts()[:50]

 usa                   630062
 canada                 78571
 united kingdom         27050
 germany                23471
                        21007
 australia              15270
 spain                  12515
 na                     11178
 france                  8962
 portugal                5974
 new zealand             4676
 malaysia                4551
 netherlands             4031
 switzerland             3437
 italy                   2889
 austria                 2307
 iran                    1268
 romania                 1058
 finland                 1057
 singapore               1049
 dominican republic       902
 brazil                   761
 sweden                   711
 ireland                  697
 philippines              525
 japan                    520
 belgium                  442
 china                    415
 norway                   362
 denmark                  300
 us                       294
 hong kong                277
 poland                   264
 mexico                   238
 argentina                205
 qatar                    202
 south africa             186
 greece                   173
 israel                   171
 far away                 145
 costa rica               142
 bulgaria                 136
 aruba                    126
 united state             121
 united states            119
 taiwan                   119
 india                    114
 kuwait                    97
 egypt                     92
 luxembourg                92
Name: Nation, dtype: int64

In [ ]:
train_df['Nation'] = train_df['Nation'].str.strip()
test_df['Nation'] = test_df['Nation'].str.strip()

In [ ]:
test_df['Nation'].value_counts()[:50]

usa                   116400
canada                 14418
united kingdom          6007
germany                 4187
                        3249
australia               2957
spain                   2442
france                  1686
portugal                 998
netherlands              945
new zealand              898
switzerland              752
italy                    583
malaysia                 534
austria                  501
iran                     382
japan                    255
belgium                  198
china                    196
philippines              165
brazil                   164
ireland                  156
finland                  134
qatar                    133
romania                  110
singapore                 97
denmark                   94
poland                    88
taiwan                    86
mexico                    68
sweden                    61
argentina                 59
kuwait                    43
england                   33
israel                    30
norway                    28
universe                  28
czech republic            28
bulgaria                  27
greece                    21
cyprus                    21
india                     21
south korea               21
dominican republic        21
russia                    19
south africa              14
hong kong                 13
chile                     12
hungary                   10
lithuania                 10
Name: Nation, dtype: int64

In [ ]:
def clean_nation_values(train_df):
    train_df.loc[(train_df['Nation']=='united state') | (train_df['Nation']=='united states') | (train_df['Nation']=='united staes') | (train_df['Nation']=='us')| (train_df['Nation']=='ysa')| (train_df['Nation']=='us of a')| (train_df['Nation']=='america'), 'Nation'] = 'usa'
    train_df.loc[(train_df['Nation']=='united kingdom') | (train_df['Nation']=='england')| (train_df['Nation']=='scotland'), 'Nation'] = 'uk'
    train_df.loc[(train_df['Nation']=='deutschland'), 'Nation'] = 'espaa'
    train_df.loc[(train_df['Nation']=='') | (train_df['Nation']=='na') | (train_df['Nation']=='na  on the road')| (train_df['Nation']=='the world tomorrow')| (train_df['Nation']=='x')| (train_df['Nation']=='c')| (train_df['Nation']=='far away')| (train_df['Nation']=='everywhere and anywhere'), 'Nation'] = 'n/a'
    train_df.loc[(train_df['Nation']=='la chine ternelle'), 'Nation'] = 'china'
    train_df.loc[(train_df['Nation']=='nz'), 'Nation'] = 'new zealand'
    train_df.loc[(train_df['Nation']=='litalia'), 'Nation'] = 'italy'
    train_df.loc[(train_df['Nation']=='cananda'), 'Nation'] = 'canada'
    train_df.loc[(train_df['Nation']=='phillipines'), 'Nation'] = 'philippines'
    train_df.loc[(train_df['Nation']=='catalunya'), 'Nation'] = 'catalonia'
    train_df.loc[(train_df['Nation']=='la france'), 'Nation'] = 'france'
    train_df.loc[(train_df['Nation']=='jersey')|(train_df['Nation']=='alderney'), 'Nation'] = 'uk'
    train_df.loc[(train_df['Nation']=='catalonia'), 'Nation'] = 'spain'

    train_df.loc[(train_df['Nation']=='los estados unidos de norte america') | (train_df['Nation']=='collin'), 'Nation'] = 'usa'
    train_df.loc[train_df['Nation'].isin(['shelby', 'worcester', 'hernando', 'ventura county', 'prince william', 'san mateo', 'aroostook', 'rutherford', 'fort bend', 'madrid', 'alachua', 'burlington']), 'Nation'] = 'usa'

    return train_df
train_df = clean_nation_values(train_df)
train_df['Nation'].value_counts()[:50]

usa                   630627
canada                 78572
n/a                    32570
uk                     27147
germany                23471
australia              15270
spain                  12551
france                  8965
portugal                5974
new zealand             4691
malaysia                4551
netherlands             4031
switzerland             3437
italy                   2892
austria                 2307
iran                    1268
romania                 1058
finland                 1057
singapore               1049
dominican republic       902
brazil                   761
sweden                   711
ireland                  697
philippines              600
japan                    520
belgium                  442
china                    429
norway                   362
denmark                  300
hong kong                277
poland                   264
mexico                   238
argentina                205
qatar                    202
south africa             186
greece                   173
israel                   171
costa rica               142
bulgaria                 136
aruba                    126
taiwan                   119
india                    114
kuwait                    97
egypt                     92
luxembourg                92
chile                     78
burma                     77
czech republic            75
south korea               71
guernsey                  68
Name: Nation, dtype: int64

In [ ]:
def not_nation(x):
    if x in [None, "espaa","unknown", "petrolwar nation", "galiza", "galiza neghra", "united sates", "maricopa", "andorra", "richmond country", "universe", "lleida", "framingham", "grenada", "usa currently living in england", "saint loius", "tdzimi", "space", "here and there", "csa", "onondaga nation", "were global", "disgruntled states of america", "bergued", "ferrara", "the great white north", "united kindgonm", "caribbean sea", "kcb", "stthomasi", "catalunya spain", "la belgique", "the", "quit", "orense", "hungary and usa", "eeuu", "van wert", "camden"]:
        return 'n/a'
    else:
        return x
train_df['Nation'] = train_df['Nation'].apply(lambda x: not_nation(x))

In [ ]:
print(train_df['Nation'].unique())

['canada' 'usa' 'germany' 'spain' 'australia' 'uk' 'n/a' 'italy'
 'netherlands' 'portugal' 'sweden' 'austria' 'france' 'finland'
 'new zealand' 'singapore' 'switzerland' 'philippines' 'malaysia'
 'belgium' 'japan' 'denmark' 'belize' 'poland' 'ireland' 'haiti'
 'trinidad and tobago' 'tanzania' 'moldova' 'bulgaria' 'luxembourg'
 'south africa' 'czech republic' 'israel' 'malta' 'kuwait' 'peru'
 'ecuador' 'south korea' 'turkey' 'nigeria' 'brazil' 'hungary' 'indonesia'
 'kazakhstan' 'india' 'china' 'egypt' 'croatia' 'taiwan' 'argentina'
 'chile' 'venezuela' 'iceland' 'bolivia' 'lithuania' 'norway' 'mexico'
 'bahamas' 'romania' 'iran' 'dominican republic' 'ghana'
 'united arab emirates' 'tunisia' 'papua new guinea' 'costa rica'
 'vietnam' 'sri lanka' 'slovenia' 'slovakia' 'greece' 'puerto rico'
 'cameroon' 'laos' 'burma' 'thailand' 'hong kong' 'ethiopia' 'zambia'
 'russia' 'antarctica' 'polk' 'uae' 'cambodia' 'zimbabwe' 'cherokee'
 'monaco' 'morgan' 'jamaica' 'cape verde' 'pakistan' 'mongolia'
 'antigua and barbuda' 'cyprus' 'estonia' 'barbados' 'nepal' 'ukraine'
 'pender' 'saint lucia' 'kenya' 'guernsey' 'euskal herria' 'yugoslavia'
 'morocco' 'bosnia and herzegovina' 'colombia' 'latvia' 'kern' 'guatemala'
 'aruba' 'saudi arabia' 'tobago' 'urugua' 'turkmenistan' 'panama'
 'uzbekistan' 'bermuda' 'oman' 'uruguay' 'burkina faso' 'madagascar'
 'georgia' 'benin' 'afghanistan' 'bangladesh' 'fiji' 'italia' 'paraguay'
 'albania' 'gabon' 'wales' 'cayman islands' 'macau' 'marshall islands'
 'rwanda' 'niger' 'mauritius' 'macedonia' 'channel islands' 'palau'
 'qatar' 'cuba' 'algeria' 'brunei' 'solomon islands' 'guineabissau' 'iraq'
 'lebanon' 'guam' 'honduras' 'el salvador' 'syria' 'mozambique' 'guinea'
 'st helena' 'uganda' 'tajikistan' 'bahrain']

In [ ]:
others_list =  train_df['Nation'].value_counts()[50:].index
def convert_to_others(x):
    if x in others_list:
        return 'others'
    else:
        return x
train_df['Nation'] = train_df['Nation'].apply(lambda x: convert_to_others(x))
train_df['Nation'].value_counts()

usa                   630627
canada                 78572
n/a                    32570
uk                     27147
germany                23471
australia              15270
spain                  12551
france                  8965
portugal                5974
new zealand             4691
malaysia                4551
netherlands             4031
switzerland             3437
italy                   2892
austria                 2307
iran                    1268
others                  1178
romania                 1058
finland                 1057
singapore               1049
dominican republic       902
brazil                   761
sweden                   711
ireland                  697
philippines              600
japan                    520
belgium                  442
china                    429
norway                   362
denmark                  300
hong kong                277
poland                   264
mexico                   238
argentina                205
qatar                    202
south africa             186
greece                   173
israel                   171
costa rica               142
bulgaria                 136
aruba                    126
taiwan                   119
india                    114
kuwait                    97
egypt                     92
luxembourg                92
chile                     78
burma                     77
czech republic            75
south korea               71
guernsey                  68
Name: Nation, dtype: int64

In [ ]:
train_df.to_csv('add_columns_book_0509_train.csv', index=False)

In [ ]:
train_df.drop(columns=['ID', 'Location', 'Age', 'City', 'State'])

,User-ID,Book-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age-Band,Year-Of-Publication_Band,Nation
0,USER_00000,BOOK_044368,8,Road Taken,Rona Jaffe,2001,Mira,20's,>=2000s,canada
1,USER_00000,BOOK_081205,8,Macbeth (New Penguin Shakespeare),William Shakespeare,1981,Penguin Books,20's,1980s,canada
2,USER_00000,BOOK_086781,0,Waverley (Penguin English Library),Walter Scott,1981,Penguin Books,20's,1980s,canada
3,USER_00000,BOOK_098622,0,Mother Earth Father Sky,Sue Harrison,1991,Avon,20's,1990s,canada
4,USER_00000,BOOK_180810,8,She Who Remembers,Linda Lay Shuler,1989,Signet Book,20's,1980s,canada
...,...,...,...,...,...,...,...,...,...,...
871388,USER_92096,BOOK_081138,0,Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993,Harpercollins,30's,1990s,usa
871389,USER_92097,BOOK_258124,0,The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002,Harmony,30's,>=2000s,usa
871390,USER_92098,BOOK_071848,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000,Thorndike Press,40's,>=2000s,canada
871391,USER_92099,BOOK_252599,8,Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996,St Martins Pr,40's,1990s,usa
871392,USER_92100,BOOK_130798,0,The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999,Harcourt Children's Books,30's,1990s,italy

In [ ]:
train_df.columns

Index(['ID', 'User-ID', 'Book-ID', 'Book-Rating', 'Age', 'Location',
       'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Age-Band', 'Year-Of-Publication_Band', 'City', 'State', 'Nation'],
      dtype='object')

In [ ]:
train = train_df.drop(columns=['ID', 'Location', 'Age', 'City', 'State', 'Year-Of-Publication', 'User-ID', 'Book-ID'])

In [ ]:
train.columns

Index(['Book-Rating', 'Book-Title', 'Book-Author', 'Publisher', 'Age-Band',
       'Year-Of-Publication_Band', 'Nation'],
      dtype='object')

In [ ]:
y_train = train.pop('Book-Rating')

In [ ]:
numeric_features = list(train.select_dtypes(int).columns)
categorical_features = list(train.select_dtypes('O').columns)
ignore_features = []
print(numeric_features, categorical_features)

[] ['Book-Title', 'Book-Author', 'Publisher', 'Age-Band', 'Year-Of-Publication_Band', 'Nation']

In [ ]:
reg = setup(data=pd.concat([train, y_train],axis=1), target ='Book-Rating', session_id=42,
           numeric_features=numeric_features,categorical_features=categorical_features,ignore_features=ignore_features)

In [ ]:
top3 = compare_models(exclude = ['ransac'], n_select = 3, fold=5, sort='RMSE')

Processing:   0%|          | 0/79 [00:00<?, ?it/s]

In [ ]:
tuned_top3 = [tune_model(i) for i in top3]
# blender = blend_models(tuned_top3)
# stacker = stack_models(tuned_top3)
best_auc_model = automl(optimize = 'RMSE')

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 2 candidates, totalling 20 fits

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
for i in top3:
    save_model(i, f'top_{i}')
load_model(f'top_{i}')

In [ ]:
best_model = tune_model(top3[0])
best_auc_model = automl(optimize = 'RMSE')

In [ ]:
finalized_model = finalize_model(best_auc_model)

In [ ]:
test_df['Age'] = test_df['Age'].astype(int)
test_df['Year-Of-Publication'] = test_df['Year-Of-Publication'].astype(int)
test_df['Age-Band'] = test_df['Age'].apply(lambda x: age_to_ageband(x))
test_df = pd.concat([test_df, test_df['Location'].apply(lambda x: location_split(x)).str.split(',', expand=True).rename(columns={0:'City', 1:'State', 2:'Nation'})], axis=1)
test_df.to_csv('add_columns_book_test.csv', index=False)
test_df.drop(columns=['ID', 'Location', 'Age', 'Publisher', 'City', 'State'])

,User-ID,Book-ID,Book-Title,Book-Author,Year-Of-Publication,Age-Band,Nation
0,USER_00008,BOOK_047966,Birds of Prey: A Novel of Suspense,J.A. Jance,2002,30's,usa
1,USER_00008,BOOK_119494,Midnight Voices,JOHN SAUL,2003,30's,usa
2,USER_00008,BOOK_151775,Breaking Free : A Prescription for Personal an...,David M. Noer,1996,30's,usa
3,USER_00008,BOOK_176255,Bitter Harvest,Ann Rule,1999,30's,usa
4,USER_00008,BOOK_187307,Embraced by the Light,Betty J. Eadie,1994,30's,usa
...,...,...,...,...,...,...,...
159616,USER_92086,BOOK_159050,The Fat Flush Plan,Ann Louise Gittleman,2001,under10,usa
159617,USER_92086,BOOK_196481,We Die Alone: A WWII Epic of Escape and Endurance,David Howarth,1999,under10,usa
159618,USER_92086,BOOK_199754,From 60 Yards In : How to Master Golf's Short ...,Raymond Floyd,1992,under10,usa
159619,USER_92086,BOOK_227481,Solo: On Her Own Adventure,Susan Fox Rogers,1996,under10,usa
159620,USER_92086,BOOK_237054,Avalanche Safety: For Skiers &amp; Climbers,Tony Daffern,1999,under10,usa

In [ ]:
predictions = predict_model(data=test_df, estimator=finalized_model)
predictions

,ID,User-ID,Book-ID,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age-Band,City,State,Nation,prediction_label
0,TEST_000000,USER_00008,BOOK_047966,37,"vermilion, ohio, usa",Birds of Prey: A Novel of Suspense,J.A. Jance,2002,Avon,30's,vermilion,ohio,usa,6.392922
1,TEST_000001,USER_00008,BOOK_119494,37,"vermilion, ohio, usa",Midnight Voices,JOHN SAUL,2003,Ballantine Books,30's,vermilion,ohio,usa,6.739274
2,TEST_000002,USER_00008,BOOK_151775,37,"vermilion, ohio, usa",Breaking Free : A Prescription for Personal an...,David M. Noer,1996,Jossey-Bass,30's,vermilion,ohio,usa,6.490319
3,TEST_000003,USER_00008,BOOK_176255,37,"vermilion, ohio, usa",Bitter Harvest,Ann Rule,1999,Pocket,30's,vermilion,ohio,usa,6.503035
4,TEST_000004,USER_00008,BOOK_187307,37,"vermilion, ohio, usa",Embraced by the Light,Betty J. Eadie,1994,Bantam Books,30's,vermilion,ohio,usa,6.315946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159616,TEST_159616,USER_92086,BOOK_159050,0,"mountain view, california, usa",The Fat Flush Plan,Ann Louise Gittleman,2001,McGraw-Hill/Contemporary Books,under10,mountain view,california,usa,3.577054
159617,TEST_159617,USER_92086,BOOK_196481,0,"mountain view, california, usa",We Die Alone: A WWII Epic of Escape and Endurance,David Howarth,1999,The Lyons Press,under10,mountain view,california,usa,3.482705
159618,TEST_159618,USER_92086,BOOK_199754,0,"mountain view, california, usa",From 60 Yards In : How to Master Golf's Short ...,Raymond Floyd,1992,Perennial,under10,mountain view,california,usa,3.394149
159619,TEST_159619,USER_92086,BOOK_227481,0,"mountain view, california, usa",Solo: On Her Own Adventure,Susan Fox Rogers,1996,Seal Press (WA),under10,mountain view,california,usa,3.210918
159620,TEST_159620,USER_92086,BOOK_237054,0,"mountain view, california, usa",Avalanche Safety: For Skiers &amp; Climbers,Tony Daffern,1999,Mountaineers Books,under10,mountain view,california,usa,3.393936

In [ ]:
predictions['prediction_label'].apply(lambda x: round(x, 0))

0         6.0
1         7.0
2         6.0
3         7.0
4         6.0
         ...
159616    4.0
159617    3.0
159618    3.0
159619    3.0
159620    3.0
Name: prediction_label, Length: 159621, dtype: float64

In [ ]:
submission['Book-Rating'] = predictions['prediction_label']
submission.to_csv('First_submission_pycaret_0509_float.csv', index=False)

In [ ]:
submission = pd.read_csv('./sample_submission.csv')
submission['Book-Rating'] = predictions['prediction_label'].apply(lambda x: round(x, 0))
submission.to_csv('First_submission_pycaret_0509.csv', index=False)
submission

                 ID  Book-Rating
0       TEST_000000          6.0
1       TEST_000001          7.0
2       TEST_000002          6.0
3       TEST_000003          7.0
4       TEST_000004          6.0
...             ...          ...
159616  TEST_159616          4.0
159617  TEST_159617          3.0
159618  TEST_159618          3.0
159619  TEST_159619          3.0
159620  TEST_159620          3.0

[159621 rows x 2 columns]

In [ ]:
ensemble_top3 = ensemble_model(best_model, method="Boosting", fold=5, optimize='RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [ ]:
finalized_model = finalize_model(ensemble_top3)

In [ ]:
predictions = predict_model(data=test_df, estimator=finalized_model)
submission['Book-Rating'] = predictions['prediction_label']
submission.to_csv('First_submission_pycaret_0509_float_boosting.csv', index=False)