In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')
import re

In [13]:
know_train = [pd.read_csv(path, index_col=0) for path in sorted(glob('./_data/train/*.csv'))]
know_test = [pd.read_csv(path, index_col=0) for path in sorted(glob('./_data/test/*.csv'))]
submission = pd.read_csv('./_data/sample_submission.csv')

In [15]:
know_train[0]

,aq1_1,aq1_2,aq2_1,aq2_2,aq3_1,aq3_2,aq4_1,aq4_2,aq5_1,aq5_2,...,bq37,bq38,bq38_1,bq39_1,bq39_2,bq40,bq41_1,bq41_2,bq41_3,knowcode
idx,,,,,,,,,,,,,,,,,,,,,
0,3,3,3,3,3,3,4,4,3,4,...,52,2,실업,1,1,1,4000,,2200,825101
1,4,5,4,5,3,4,3,4,3,4,...,38,4,건축공학,1,1,1,,,2400,140204
2,3,4,3,4,3,4,5,6,4,5,...,50,4,건축공학,1,1,1,4000,,2400,140204
3,3,3,3,3,3,5,4,5,4,6,...,42,4,환경학과,1,1,1,7000,,3500,140601
4,4,5,3,4,3,4,4,5,3,4,...,51,4,건축공학,1,1,1,4000,,2500,140204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9481,3,5,2,4,3,3,2,2,2,3,...,50,4,산업디자인,1,1,1,5200,,1800,411301
9482,5,5,5,5,5,5,3,4,4,5,...,37,4,우주항공공학,1,1,1,4000,,3000,151105
9483,3,3,4,6,3,3,4,5,4,5,...,32,2,기계,1,4,2,2700,,1500,701101
9484,3,5,3,5,4,5,3,4,3,5,...,40,4,문헌정보학,1,1,1,6800,,2500,25402
9485,3,4,3,4,3,4,3,4,3,4,...,48,3,전기,1,1,1,4000,,3700,15201

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.max_rows = 60
pd.options.display.max_columns = 20

In [9]:
train2017

,aq1_1,aq1_2,aq2_1,aq2_2,aq3_1,aq3_2,aq4_1,aq4_2,aq5_1,aq5_2,...,bq37,bq38,bq38_1,bq39_1,bq39_2,bq40,bq41_1,bq41_2,bq41_3,knowcode
idx,,,,,,,,,,,,,,,,,,,,,
0,3,3,3,3,3,3,4,4,3,4,...,52,2,실업,1,1,1,4000,,2200,825101
1,4,5,4,5,3,4,3,4,3,4,...,38,4,건축공학,1,1,1,,,2400,140204
2,3,4,3,4,3,4,5,6,4,5,...,50,4,건축공학,1,1,1,4000,,2400,140204
3,3,3,3,3,3,5,4,5,4,6,...,42,4,환경학과,1,1,1,7000,,3500,140601
4,4,5,3,4,3,4,4,5,3,4,...,51,4,건축공학,1,1,1,4000,,2500,140204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9481,3,5,2,4,3,3,2,2,2,3,...,50,4,산업디자인,1,1,1,5200,,1800,411301
9482,5,5,5,5,5,5,3,4,4,5,...,37,4,우주항공공학,1,1,1,4000,,3000,151105
9483,3,3,4,6,3,3,4,5,4,5,...,32,2,기계,1,4,2,2700,,1500,701101
9484,3,5,3,5,4,5,3,4,3,5,...,40,4,문헌정보학,1,1,1,6800,,2500,25402
9485,3,4,3,4,3,4,3,4,3,4,...,48,3,전기,1,1,1,4000,,3700,15201